<!DOCTYPE html>
<html>
<head>
    <title>AAM restro payment page</title>
</head>
<body>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        var options = {
            "key": "rzp_test_LFnpHYpUR9cUXG",
            "amount": "{{ amount }}",
            "currency": "INR",
            "name": "AAM Restro",
            "description": "Restro transcation",
            "image": "https://example.com/your_logo",
            "order_id": "{{ order_id }}",
            "handler": function (response) {
                
                var paymentData = {
                    razorpay_payment_id: response.razorpay_payment_id,
                    razorpay_order_id: response.razorpay_order_id,
                    razorpay_signature: response.razorpay_signature,
                    customer_name:"{{ customer_name }}",
                    contact_info:"{{ contact_info }}"
                    
                };
                // Send the payment data to the server
                fetch('/payment_success', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(paymentData)
                })
                .then(response => {
                    // Handle the server response
                    console.log('Payment successful:', response);
                    window.location.href = '/final';
                    
                })
                .catch(error => {
                    console.error('Error:', error);
                    window.location.href = '/fail';
                });
            },
            "prefill": {
                "name": "{{ name }}",
                "email": "{{ email }}",
                "contact": "{{ contact }}"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open(); // Open the Razorpay checkout immediately after creating the instance

        rzp1.on('payment.failed', function (response) {
            window.location.href = '/fail';
           
        });
    </script>
</body>
</html>